body {
  background-color: #4b4b4b;
  margin: 0;
}
p {
  margin-left: 30px;
  margin-right: 30px;
}
.h-center {
  text-align: center;
  font-size: 3vh;
}
.h-left {
  text-align: left;
  margin-left: 30px;
  font-size: 2.5vh;
}
.uparrow{
  display: none;
  width: auto;
  height: 5vh;
  position: fixed;
  z-index: 1;
  top: 5%;
  right: 5%;
}
.upbutton {
  opacity: 0.5;
  display: none;
  width: auto;
  height: 5vh;
  position: fixed;
  z-index: 1;
  top: 1%;
  right: 1%;
}
.header {
  position: relative;
  height: 100vh;
  background-color: rgba(240,240,240,0.5);
  border-style: solid;
  font-family: "Arial", serif;
  text-align: center;
}
.headshot{
  position: relative;
  top: 5vh;
  width: 40vmin;
  height: auto;
  border-style: solid;
  border-width: thin;
  border-radius: 100%;
}
.title-name{
  position: relative;
  top: 4vh;
  font-size: 7vh;
}
.title-desc{
  position: relative;
  top: 5vh;
  font-size: 4vh;
}
.navigation-bar {
  position: relative;
  top: 10vh;
  text-align: center;
}
.navigation-button {
  font-family: "Arial", serif;
  font-size: 2vh;
  padding: .5vw;
  border-radius: 1vh;
}
.greeting {
  position: relative;
  background-color: #dcdcdc;
  padding: 2vh;
  border-style: solid;
  border-width: thin;
  border-radius: 2vh;
  font-family: "Arial", serif;
  font-size: 2vh;
  text-align: center;
  line-height: 1.5;
}
.panel-left-align {
  position: relative;
  background-color: #dcdcdc;
  padding: 2vh;
  border-style: solid;
  border-width: thin;
  border-radius: 1vh;
  border-radius: 2vh;
  font-family: "Arial", serif;
  font-size: 2vh;
  text-align: left;
  line-height: 1.5;
}
.panel-center-align {
  position: relative;
  background-color: #dcdcdc;
  padding: 2vh;
  border-style: solid;
  border-width: thin;
  border-radius: 1vh;
  border-radius: 2vh;
  font-family: "Arial", serif;
  font-size: 2vh;
  text-align: center;
  line-height: 1.5;
}
.resume {
  text-align: left;
  max-width: 1000px;
  margin: auto;
  word-break: break-word;
}
.resume-desc{
  padding: 1vh;
}
.resume-detail{
  padding: 1vh;
  margin-left: 2.5vw;
}
.half-panel {
  position: relative;
  width: 49%;
  display: inline-grid;
}